<div [formGroup]="companyForm">
  <div>
    <label for="companyName">Company Name</label>
    <input id="companyName" type="text" formControlName="companyName" />
  </div>
  <ng-container formArrayName="admins">
    <ng-container *ngFor="let adminForm of admins.controls; let index = index">
      <div [formGroupName]="index">
        <input id="{{ 'name' + index }}" type="text" formControlName="name" />
        <input id="{{ 'email' + index }}" type="text" formControlName="email" />
      </div>
    </ng-container>
  </ng-container>
  <button type="button" (click)="addNewAdmin()">Add</button>
  <button type="button" (click)="submit()">submit</button>
</div>
